<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
<div class="course-list trending-courses pt-2 pb-2">
    <div class="section-row">
        <div class="section"><h2>Trending Courses</h2></div>
        <div class="view-all">View All</div>
    </div>
    <div class="course-contents">
        <ngx-slick-carousel class="carousel" 
                                #slickModal="slick-carousel" 
                                [config]="slideConfig" 
                                >
            @for (course of courses; track course.id) {
                <a class="course-item-link" href="/courses/{{course.id}}">
                    <div ngxSlickItem class="slide course-item" >
                        <img src="{{ course.url ? course.url : 'assets/default-fallback-image.png' }}" alt="" class="trending-thumbnail">
                        <div class="content-info">
                            <div class="video-title-row">
                                <strong><span class="mt-3">{{ course.title }}</span></strong>
                                @if(course.published){
                                    <span class="badge">Live</span>
                                }
                            </div>
                            <div class="video-author-row">
                                <!-- <img class="author-avatar" src="{{ course.author ? course.author : 'assets/default-avatar.png' }}" alt="Author Avatar"> -->
                                <img class="author-avatar" src="{{ 'assets/default-avatar.png' }}" alt="Author Avatar">
                                <span class="mt-3 author-name"  [attr.data-instructor-id]="course.instructor[1]">{{course.instructor[1]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </ngx-slick-carousel>
    </div>
</div>
