<!-- <router-outlet></router-outlet> -->

<div class="navbar-container">
    <div class="navbar-left">
        <a routerLink="/" class="navbar-brand">Project Name</a>
    </div>
    <div class="navbar-middle">
        <input type="text" class="search-bar" placeholder="Search...">
    </div>
    <div class="navbar-right">
        <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="/courses">Explore</a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#">Calendar</a></li>
        </ul>
    </div>
</div>
  