<div class="navbar-container">
    <div class="navbar-left">
        <a routerLink="/" class="navbar-brand">Project Name</a>
    </div>
    <div class="navbar-middle">
        <input type="text" class="search-bar" placeholder="Search...">
    </div>
    <div class="navbar-right">
        <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/courses">Explore</a></li>
        <li><a routerLink="#">Library</a></li>
        <li><a routerLink="#">Calendar</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
