/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card{
    border: 0 solid #0000;
    border-radius: 0.375rem;
    box-shadow: 0 0.0625rem 0.125rem #00000026, 0 0.0625rem 0.25rem #00000026;
    margin-bottom: 1rem;
    padding: 1.5rem;
    position: relative;
}